# This is the local NodeJS server .env file. This is NOT used for Twilio Function
PORT=3007
TEST=TEST
SERVER_BASE_URL=your-ngrok-domain.ngrok.dev
# SERVER_BASE_URL=your-fly-app.fly.dev

# This is the OpenAI API key. It is used by the local NodeJS server
OPENAI_API_KEY=sk-proj-your-openai-api-key-here
OPENAI_MODEL=gpt-4.1

# Twilio
ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_TOKEN=your-twilio-auth-token-here
FROM_NUMBER=+1234567890

API_KEY=SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_SECRET=your-twilio-api-secret-here

# LLM context and manifest configuration moved to defaultConfig.json UsedConfig section
# Use the UsedConfig in Sync Maps to configure which context and manifest to use


# Dynamic Context Configuration
LLM_CONTEXT=VoiceContext.md
LLM_MANIFEST=VoiceToolManifest.json

# Optional Twilio Edge and Region configuration
# TWILIO_EDGE=sydney
# TWILIO_REGION=au1
